<form [formGroup]="studentForm" (ngSubmit)="saveStudent()">
  <div class="mb-3">
    <label for="studentFirstname" class="form-label">Firstname</label>
    <input type="text" class="form-control" id="studentFirstname"
           formControlName="firstName"
           required />
  </div>
  <div class="mb-3">
    <label for="studentLastname" class="form-label">Lastname</label>
    <input type="text" class="form-control" id="studentLastname"
           formControlName="lastName"
           required />
  </div>
  <div class="mb-3">
    <label for="studentIndexNumber" class="form-label">Index number</label>
    <input type="number" class="form-control" id="studentIndexNumber"
           formControlName="indexNumber"
           required />
  </div>
  <div class="mb-3">
    <label for="studentEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="studentEmail"
           formControlName="email" />
  </div>
  <div class="mb-3">
    <label for="studentYear" class="form-label">Year</label>
    <input type="number" class="form-control" id="studentYear"
           formControlName="year" />
  </div>
  <div class="mb-3">
    <label for="studentSpecialization" class="form-label">Specialization</label>
    <input type="text" class="form-control" id="studentSpecialization"
           name="specialization" />
  </div>
  <div class="mb-3">
    <label for="studentDescription" class="form-label">Description</label>
    <input type="text" class="form-control" id="studentDescription"
           formControlName="description" />
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="reset"
          class="btn btn-warning"
          (click)="cancel()">
    Cancel
  </button>
</form>
